/*
body{
background: rgba(11, 31, 145, 0.616);
margin: 0;
padding: 0;
font-family: "Open Sans", sans-serif;
background-size: cover;
background-attachment: fixed;
background-attachment: fixed;
}*/

h1, h2, h3, h4, h5, h6 {
    font-family: "antipastoregular", sans-serif;
    font-weight: 400;
    margin: 0 0 20px 0;
    padding: 0;
  }
*{
margin: 0;
padding: 0;
box-sizing: border-box;

}

section{
    padding: 100px 200px;
}
/*trabalhando a main*/
.main{
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    background: url(/img/fundo2.1.jpg)no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
   
}

.main .content{
    max-width: 800px;


}
.main .content{
    max-width: 800px;
}
.text-animado{
    position: relative;
    height: 70px;
    overflow: hidden;
}   
.text-animado h3{
    color: aliceblue;
    font-size: 2em;
    font-weight: 700;
    line-height: 70px;
    letter-spacing: 2px;
}
.text-animado h3:nth-child(1){
    animation: text-move 15s infinite;
}
@keyframes text-move{
    0%{
        margin-top: 0;
    }
    25%{
        margin-top: -70px;
    }
    50%{
        margin-top:-170px;
    }
    
    100%{
        margin-top: 0;
    }
    
}
.rede_social{
    margin-top: 50px;
}
.rede_social a{
    color: #fff;
    font-size: 25px;
    margin-right: 30px;
}
/*trabalhando cabeçario*/
#header {
    padding: 10px 0;
    height: 70px;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    transition: all 0.5s;
    z-index: 997;
    
}
  
#header #logo {
    float: left;
}

#header.header-ativo {
    background: rgba(0,0,0,0.6) !important;
}

#logo {
    margin-top: 5px;
    float: left;
}

#nav-menu-container ul li {
    display: inline;
}

.nav-menu {
    margin-top: 10px;
    list-style: none;
    float: right;
}

.nav-menu a {
    position: relative;
    font-size: 13px;
    text-transform: uppercase;
    text-decoration: none;
    color: white;
    list-style: none;
    padding: 0px 10px 0px 10px;
}

.nav-menu a:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: -10px;
    left: 0;
    background-color: #fff;
    visibility: hidden;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
}

.nav-menu a:hover:before, .nav-menu li:hover > a:before, .nav-menu .menu-ativo > a:before {
    visibility: visible;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
}

.epic-titulo p img {
	margin-top: 100px;
    margin-left: 600px;
    position: absolute;
    opacity: 0.3;
}

.epic-titulo  h1 {
	margin-top: 118px;
    margin-left: 560px;
    position: absolute;
    color: white;
    font-size: 65px;
}
.epic-titulo  h3 {
	margin-top: 205px;
    margin-left: 460px;
    position: absolute;
    color: white;
    font-size: 65px;
}

.epic-texto  p {
	margin-top: 195px;
    margin-left: 290px;
    position: absolute;
    color: white;
    font-size: 25px;
    text-align: center;
}

.epic-texto  h1 {
	margin-top: 270px;
    margin-left: 580px;
    position: absolute;
    color: white;
    font-size: 50px;
}
/*trabalhando seção de cases*/
.Cases .linha{
    display: flex;
    justify-content:center;
    flex-wrap: wrap;
    flex-direction:  row;
    margin-top: 0px;
}
.Cases .linha .card{
    background: #fff;
    width: 300px;
    margin: 10px;
    padding: 25px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 0 5px rgba(1 1 1 /15%);
    border-radius:10px;

}
/*IMG DE FUNDO DOS CARDS*/
.Cases .linha .card .imagem-evento img{
    padding: 1px;
    border-radius: 10px;
    align-items: center;
    width: 280px;
}


.Cases .linha .card .imagem-evento h3{
    color: black;
    font-size: 1.2em;
    font-weight: 700;
    margin: 10px;

}

.Cases .linha .card .imagem-evento{
    overflow: hidden;
}
.Cases .linha .card .imagem-evento img{
  -moz-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition:all 0.3s;
}
.Cases .linha .card .imagem-evento:hover img{
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform:scale(1.1);
}
.case .linha .card a{
    text-decoration: none;
}
/*pagina de eventos antigoso 2021*/
.title{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.card-1{
    width: auto;
    margin: 10px;
    padding: 10px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 0 5px rgba(1 1 1 /15%);
    border-radius:10px;
    margin-top: 30px;
    background: #fff;

}
.about .nav_tabs .DOIS{
    background-color:  #fff;
}
.DOIS .content{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.about .nav_tabs .DOIS .content .col-left{
    position: relative;
    width: 45%;
}
.about .nav_tabs .DOIS .content .col-right{
    position: relative;
    width: 50%;
}

.about .nav_tabs .DOIS .content .col-left .img-card img{
    position:absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 40px;
}
/*pagina de eventos antigoso 2019*/

/*configurando abas dos eneventos*/

.about{
    margin: 0;
    padding: 0;
    background-color: #e54e43;

}
.about .nav_tabs{
    width: 70%;
    height: 70%;
    margin: 100px auto;
    background-color: aquamarine;
    position: relative;
}

.about .nav_tabs ul{
    list-style: none;
}
.about .nav_tabs ul li{
    float: left;
}

.about .nav_tabs label{
    width: 200px;
    height: 10px;
    padding: 25px;
    background-color: #363b48;
    display: block;
    color: #fff;
    cursor: pointer;
    text-align: center;
    margin-top: 5px;
    
}
.about .nav_tabs .rd_tabs:checked ~ label{
    background-color: #e54e43;
}
.about .nav_tabs .rd_tabs{
  display: none;
}
.about .nav_tabs .content{
   
    background-color: #fff;
    display: none;
    position: absolute;
    height: 320px;
    width: 600px;
    left: 0;
}
.about .nav_tabs .rd_tabs:checked ~ .content{
   display: block;
}