@font-face {
    font-family: 'antipastoregular';
    src: url('../fonts/antipasto_regular-webfont.woff2') format('woff2'),
         url('../fonts/antipasto_regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'antipastoextrabold';
    src: url('../fonts/antipasto_extrabold-webfont.woff2') format('woff2'),
         url('../fonts/antipasto_extrabold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'antipastoextralight';
    src: url('../fonts/antipasto_extralight-webfont.woff2') format('woff2'),
         url('../fonts/antipasto_extralight-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}